{% extends 'base.html' %}

{% block title %}Editar estudiante{% endblock %}

{% block content %}
<h1>Editar estudiante</h1>

<form class="form-card" method="POST">
    <label>DNI *</label>
    <input type="text" name="dni" value="{{ estudiante.dni }}">

    <label>Apellido *</label>
    <input type="text" name="apellido" value="{{ estudiante.apellido }}">

    <label>Nombre *</label>
    <input type="text" name="nombre" value="{{ estudiante.nombre }}">

    <label>Email</label>
    <input type="email" name="email" value="{{ estudiante.email }}">

    <label>Carrera</label>
    <input type="text" name="carrera" value="{{ estudiante.carrera }}">

    <label>Telefono</label>
    <input type="text" name = "telefono" value=" {{estudiante.telefono}}">

    <label>Edad</label>
    <input type="number" name = "edad" value=" {{estudiante.edad}}">

    <button type="submit">Actualizar</button>
    <a class="btn secondary" href="{{ url_for('index') }}">Volver</a>
</form>
{% endblock %}
